<div class="header">
  <div class="navbar container" style="margin-top: 10px;">
    <div class="navbar-inner">
      <a class="brand" href="<%= root_url %>">真美社区</a>
      <ul class="nav">
        <li><a href="javascript:void(0);">最新</a></li>
        <li><a href="javascript:void(0);">最热</a></li>
        <li><a href="javascript:void(0);">分类</a></li>
        <li><a href="javascript:void(0);">真相</a></li>
        <li><a href="javascript:void(0);">求！</a></li>
      </ul>
      <form class="navbar-search pull-right" action="">
        <input type="text" class="search-query span2" placeholder="搜索">
      </form>
    </div>
  </div>
</div>